# MidBootcamp Project:

### Import libraries:

In [1]:
import pandas as pd
import numpy as np
import re

### Load data:

In [2]:
df = pd.read_csv("../Data/WorldCupMatches.csv",parse_dates=[1]) 

df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,1930-07-13 15:00:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,1930-07-13 15:00:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,1930-07-14 12:45:00,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,1930-07-14 14:50:00,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,1930-07-15 16:00:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

### Data exploring:

In [3]:
df.info()

print('The dataframes shape is: ', df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    float64
 1   Datetime              852 non-null    datetime64[ns]
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    float64
 7   Away Team Goals       852 non-null    float64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    float64
 12  Half-time Away Goals  852 non-null    float64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    float64
 17  MatchID               852 non-null    float64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: datetime64[ns](1), float64(8), object(11)
memory usage: 714.5+ KB
The dataframes shape is:  (4572, 20)

### Checking for NaN values:

In [4]:
df.iloc[1:855]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
1,1930.0,1930-07-13 15:00:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,1930-07-14 12:45:00,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,1930-07-14 14:50:00,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,1930-07-15 16:00:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
5,1930.0,1930-07-16 14:45:00,Group 1,Parque Central,Montevideo,Chile,3.0,0.0,Mexico,,9249.0,1.0,0.0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.0,1095.0,CHI,MEX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
850,2014.0,2014-07-12 17:00:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0.0,3.0,Netherlands,,68034.0,0.0,2.0,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957.0,300186502.0,BRA,NED
851,2014.0,2014-07-13 16:00:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1.0,0.0,Argentina,Germany win after extra time,74738.0,0.0,0.0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959.0,300186501.0,GER,ARG
852,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
853,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
854,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The data goes from the World Cup in Uruguay in 1930 to the 2014 World Cup celebrated in Brazil. Which means we have 3720 blank values in the dataframe.

In [5]:
na = print(df.isna().sum())

Year                    3720
Datetime                3720
Stage                   3720
Stadium                 3720
City                    3720
Home Team Name          3720
Home Team Goals         3720
Away Team Goals         3720
Away Team Name          3720
Win conditions          3720
Attendance              3722
Half-time Home Goals    3720
Half-time Away Goals    3720
Referee                 3720
Assistant 1             3720
Assistant 2             3720
RoundID                 3720
MatchID                 3720
Home Team Initials      3720
Away Team Initials      3720
dtype: int64

### Dropping the NaN values:

In [6]:
df = df.dropna()

df.isna().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              0
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

### Standardize column names:

In [7]:
cols = []
for x in df.columns:
    cols.append(x.lower().replace(' ','_'))
    
df.columns = cols

df.columns

Index(['year', 'datetime', 'stage', 'stadium', 'city', 'home_team_name',
       'home_team_goals', 'away_team_goals', 'away_team_name',
       'win_conditions', 'attendance', 'half-time_home_goals',
       'half-time_away_goals', 'referee', 'assistant_1', 'assistant_2',
       'roundid', 'matchid', 'home_team_initials', 'away_team_initials'],
      dtype='object')

### Dropping irrelevant columns:

The object of this project is to find the correlation between winning at half time and winnning the game. For this we won't be needing redundant columns as 'datetime', we can just keep 'year'. 

We also won't be needing 'stage' since the teams only face each other once.

While the stadium name and the city are nice features to have, they do not help us. Nor do the referee, assistants names, roundid or the matchid columns. They would only overcomplicate things.

And lastly, since we already have columns with the full names of the teams, we won't be needing to know their initials, so we'll also drop the 'home_team_initials', 'away_team_initials' columns.

In [8]:
df = df.drop(['datetime', 'stage', 'stadium', 'city', 'referee', 'assistant_1', 
              'assistant_2', 'roundid', 'matchid', 'home_team_initials', 'away_team_initials'], axis=1)

In [9]:
df.head()

,year,home_team_name,home_team_goals,away_team_goals,away_team_name,win_conditions,attendance,half-time_home_goals,half-time_away_goals
0,1930.0,France,4.0,1.0,Mexico,,4444.0,3.0,0.0
1,1930.0,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0
2,1930.0,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0
3,1930.0,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0
4,1930.0,Argentina,1.0,0.0,France,,23409.0,0.0,0.0

### Fixing country names:

We'll have to clean a few of the names in certain columns before using them later.

In [10]:
home_countries = df['home_team_name'].unique()

home_countries.sort()

display(home_countries)

array(['Algeria', 'Angola', 'Argentina', 'Australia', 'Austria',
       'Belgium', 'Bolivia', 'Brazil', 'Bulgaria', 'Cameroon', 'Canada',
       'Chile', 'China PR', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Czech Republic', 'Czechoslovakia', "C�te d'Ivoire", 'Denmark',
       'Ecuador', 'England', 'France', 'German DR', 'Germany',
       'Germany FR', 'Ghana', 'Greece', 'Haiti', 'Honduras', 'Hungary',
       'IR Iran', 'Iran', 'Iraq', 'Italy', 'Jamaica', 'Japan',
       'Korea DPR', 'Korea Republic', 'Mexico', 'Morocco', 'Netherlands',
       'New Zealand', 'Nigeria', 'Northern Ireland', 'Norway', 'Paraguay',
       'Peru', 'Poland', 'Portugal', 'Romania', 'Russia', 'Saudi Arabia',
       'Scotland', 'Senegal', 'Serbia', 'Slovakia', 'Slovenia',
       'South Africa', 'Soviet Union', 'Spain', 'Sweden', 'Switzerland',
       'Togo', 'Tunisia', 'Turkey', 'USA', 'Ukraine', 'Uruguay', 'Wales',
       'Yugoslavia', 'Zaire', 'rn">Bosnia and Herzegovina',
       'rn">Republic of Ireland', 'rn">Serbia and Montenegro',
       'rn">Trinidad and Tobago', 'rn">United Arab Emirates'],
      dtype=object)

In [11]:
away_countries = df['away_team_name'].unique()

away_countries.sort()

display(away_countries)

array(['Algeria', 'Angola', 'Argentina', 'Australia', 'Austria',
       'Belgium', 'Bolivia', 'Brazil', 'Bulgaria', 'Cameroon', 'Canada',
       'Chile', 'China PR', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Czech Republic', 'Czechoslovakia', "C�te d'Ivoire", 'Denmark',
       'Dutch East Indies', 'Ecuador', 'Egypt', 'El Salvador', 'England',
       'France', 'German DR', 'Germany', 'Germany FR', 'Ghana', 'Greece',
       'Haiti', 'Honduras', 'Hungary', 'IR Iran', 'Iran', 'Iraq',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Korea DPR',
       'Korea Republic', 'Kuwait', 'Mexico', 'Morocco', 'Netherlands',
       'New Zealand', 'Nigeria', 'Northern Ireland', 'Norway', 'Paraguay',
       'Peru', 'Poland', 'Portugal', 'Romania', 'Russia', 'Saudi Arabia',
       'Scotland', 'Senegal', 'Serbia', 'Slovakia', 'Slovenia',
       'South Africa', 'Soviet Union', 'Spain', 'Sweden', 'Switzerland',
       'Togo', 'Tunisia', 'Turkey', 'USA', 'Ukraine', 'Uruguay', 'Wales',
       'Yugoslavia', 'Zaire', 'rn">Bosnia and Herzegovina',
       'rn">Republic of Ireland', 'rn">Serbia and Montenegro',
       'rn">Trinidad and Tobago', 'rn">United Arab Emirates'],
      dtype=object)

In [12]:
df['win_conditions'].unique()

array([' ', 'Austria win after extra time ',
       'Italy win after extra time ', 'Brazil win after extra time ',
       'Czechoslovakia win after extra time ',
       'Hungary win after extra time ',
       'Northern Ireland win after extra time ',
       'England win after extra time ',
       'Germany FR win after extra time ',
       'Uruguay win after extra time ', 'Argentina win after extra time ',
       ' win on penalties (5 - 4) ', 'Belgium win after extra time ',
       'France win on penalties (3 - 4) ',
       'Germany FR win on penalties (4 - 1) ',
       'Belgium win on penalties (4 - 5) ',
       'France win after extra time ', 'Cameroon win after extra time ',
       'Republic of Ireland win on penalties (5 - 4) ',
       'Yugoslavia win after extra time ', ' win on penalties (2 - 3) ',
       ' win on penalties (3 - 4) ', ' win on penalties (4 - 3) ',
       'Bulgaria win on penalties (1 - 3) ',
       'Sweden win on penalties (4 - 5) ',
       'Brazil win on penalties (3 - 2) ',
       'Argentina win on penalties (4 - 3) ',
       'Brazil win on penalties (4 - 2) ',
       'Spain win on penalties (3 - 2) ', 'Win on Golden Goal ',
       'Korea Republic win on penalties (3 - 5) ',
       'Ukraine win on penalties (0 - 3) ',
       'Germany win on penalties (4 - 2) ',
       'Portugal win on penalties (1 - 3) ',
       'Italy win on penalties (5 - 3) ', 'Ghana win after extra time ',
       'Paraguay win on penalties (5 - 3) ',
       'Uruguay win on penalties (4 - 2) ', 'Spain win after extra time ',
       'Germany win after extra time ',
       'Argentina win on penalties (2 - 4) ',
       'Netherlands win on penalties (4 - 3) ',
       'Costa Rica win on penalties (5 - 3) '], dtype=object)

Need to fix the names of the following countries in the team names columns: 
 - C�te d'Ivoire.
 - Turn 'IR Iran' into Iran.
 - Remove the (rn">) from: Republic of Ireland, Serbia and Montenegro, Trinidad and Tobago, United Arab Emirates.

Using a lambda function to fix the names of Ivory Coast and Iran from both home_team_name and away_team_name:

In [13]:
df['home_team_name'] = df['home_team_name'].map(lambda x: x.replace('C�te', 'Côte'))

df['home_team_name'].unique()

array(['France', 'USA', 'Yugoslavia', 'Romania', 'Argentina', 'Chile',
       'Uruguay', 'Brazil', 'Paraguay', 'Austria', 'Hungary',
       'Switzerland', 'Sweden', 'Germany', 'Spain', 'Italy',
       'Czechoslovakia', 'Cuba', 'England', 'Germany FR', 'Turkey',
       'Soviet Union', 'Northern Ireland', 'Mexico', 'Wales', 'Portugal',
       'Korea DPR', 'Peru', 'Belgium', 'Bulgaria', 'German DR', 'Zaire',
       'Poland', 'Australia', 'Scotland', 'Netherlands', 'Haiti',
       'Tunisia', 'Algeria', 'Honduras', 'Canada', 'Morocco',
       'Korea Republic', 'Iraq', 'Denmark', 'rn">United Arab Emirates',
       'Costa Rica', 'Cameroon', 'rn">Republic of Ireland', 'Colombia',
       'Norway', 'Nigeria', 'Saudi Arabia', 'Bolivia', 'Russia', 'Greece',
       'Jamaica', 'South Africa', 'Japan', 'Croatia', 'China PR',
       'Senegal', 'Slovenia', 'Ecuador', 'rn">Trinidad and Tobago',
       'rn">Serbia and Montenegro', 'Angola', 'Czech Republic', 'Togo',
       'Iran', "Côte d'Ivoire", 'Ghana', 'Ukraine', 'Serbia',
       'New Zealand', 'Slovakia', 'IR Iran', 'rn">Bosnia and Herzegovina'],
      dtype=object)

In [14]:
df['away_team_name'] = df['away_team_name'].map(lambda x: x.replace('C�te', 'Côte'))

df['away_team_name'].unique()

array(['Mexico', 'Belgium', 'Brazil', 'Peru', 'France', 'Bolivia',
       'Paraguay', 'Romania', 'Chile', 'USA', 'Yugoslavia', 'Argentina',
       'Egypt', 'Netherlands', 'Switzerland', 'Sweden', 'Spain',
       'Hungary', 'Austria', 'Germany', 'Czechoslovakia',
       'Dutch East Indies', 'Norway', 'Poland', 'Cuba', 'Italy',
       'England', 'Scotland', 'Turkey', 'Korea Republic', 'Germany FR',
       'Uruguay', 'Wales', 'Northern Ireland', 'Soviet Union', 'Colombia',
       'Bulgaria', 'Korea DPR', 'Portugal', 'Israel', 'Morocco',
       'El Salvador', 'Australia', 'Haiti', 'German DR', 'Zaire',
       'IR Iran', 'Tunisia', 'Iran', 'Cameroon', 'New Zealand', 'Algeria',
       'Honduras', 'Kuwait', 'Iraq', 'Denmark', 'Canada',
       'rn">Republic of Ireland', 'rn">United Arab Emirates',
       'Costa Rica', 'Saudi Arabia', 'Russia', 'Greece', 'Nigeria',
       'South Africa', 'Japan', 'Croatia', 'Jamaica', 'Senegal',
       'Slovenia', 'Ecuador', 'China PR', "Côte d'Ivoire",
       'Czech Republic', 'Ghana', 'Togo', 'Ukraine',
       'rn">Trinidad and Tobago', 'rn">Serbia and Montenegro', 'Angola',
       'Slovakia', 'Serbia', 'rn">Bosnia and Herzegovina'], dtype=object)

In [15]:
df['home_team_name'] = df['home_team_name'].map(lambda x: x.replace('IR Iran', 'Iran'))

df['home_team_name'].unique()

array(['France', 'USA', 'Yugoslavia', 'Romania', 'Argentina', 'Chile',
       'Uruguay', 'Brazil', 'Paraguay', 'Austria', 'Hungary',
       'Switzerland', 'Sweden', 'Germany', 'Spain', 'Italy',
       'Czechoslovakia', 'Cuba', 'England', 'Germany FR', 'Turkey',
       'Soviet Union', 'Northern Ireland', 'Mexico', 'Wales', 'Portugal',
       'Korea DPR', 'Peru', 'Belgium', 'Bulgaria', 'German DR', 'Zaire',
       'Poland', 'Australia', 'Scotland', 'Netherlands', 'Haiti',
       'Tunisia', 'Algeria', 'Honduras', 'Canada', 'Morocco',
       'Korea Republic', 'Iraq', 'Denmark', 'rn">United Arab Emirates',
       'Costa Rica', 'Cameroon', 'rn">Republic of Ireland', 'Colombia',
       'Norway', 'Nigeria', 'Saudi Arabia', 'Bolivia', 'Russia', 'Greece',
       'Jamaica', 'South Africa', 'Japan', 'Croatia', 'China PR',
       'Senegal', 'Slovenia', 'Ecuador', 'rn">Trinidad and Tobago',
       'rn">Serbia and Montenegro', 'Angola', 'Czech Republic', 'Togo',
       'Iran', "Côte d'Ivoire", 'Ghana', 'Ukraine', 'Serbia',
       'New Zealand', 'Slovakia', 'rn">Bosnia and Herzegovina'],
      dtype=object)

In [16]:
df['away_team_name'] = df['away_team_name'].map(lambda x: x.replace('IR Iran', 'Iran'))

df['away_team_name'].unique()

array(['Mexico', 'Belgium', 'Brazil', 'Peru', 'France', 'Bolivia',
       'Paraguay', 'Romania', 'Chile', 'USA', 'Yugoslavia', 'Argentina',
       'Egypt', 'Netherlands', 'Switzerland', 'Sweden', 'Spain',
       'Hungary', 'Austria', 'Germany', 'Czechoslovakia',
       'Dutch East Indies', 'Norway', 'Poland', 'Cuba', 'Italy',
       'England', 'Scotland', 'Turkey', 'Korea Republic', 'Germany FR',
       'Uruguay', 'Wales', 'Northern Ireland', 'Soviet Union', 'Colombia',
       'Bulgaria', 'Korea DPR', 'Portugal', 'Israel', 'Morocco',
       'El Salvador', 'Australia', 'Haiti', 'German DR', 'Zaire', 'Iran',
       'Tunisia', 'Cameroon', 'New Zealand', 'Algeria', 'Honduras',
       'Kuwait', 'Iraq', 'Denmark', 'Canada', 'rn">Republic of Ireland',
       'rn">United Arab Emirates', 'Costa Rica', 'Saudi Arabia', 'Russia',
       'Greece', 'Nigeria', 'South Africa', 'Japan', 'Croatia', 'Jamaica',
       'Senegal', 'Slovenia', 'Ecuador', 'China PR', "Côte d'Ivoire",
       'Czech Republic', 'Ghana', 'Togo', 'Ukraine',
       'rn">Trinidad and Tobago', 'rn">Serbia and Montenegro', 'Angola',
       'Slovakia', 'Serbia', 'rn">Bosnia and Herzegovina'], dtype=object)

Now we'll do the same to remove the 'rn">' from Republic of Ireland, Serbia and Montenegro, Trinidad and Tobago, United Arab Emirates.

In [17]:
df['home_team_name'] = df['home_team_name'].map(lambda x: x.lstrip('rn">'))

df['home_team_name'].unique()

array(['France', 'USA', 'Yugoslavia', 'Romania', 'Argentina', 'Chile',
       'Uruguay', 'Brazil', 'Paraguay', 'Austria', 'Hungary',
       'Switzerland', 'Sweden', 'Germany', 'Spain', 'Italy',
       'Czechoslovakia', 'Cuba', 'England', 'Germany FR', 'Turkey',
       'Soviet Union', 'Northern Ireland', 'Mexico', 'Wales', 'Portugal',
       'Korea DPR', 'Peru', 'Belgium', 'Bulgaria', 'German DR', 'Zaire',
       'Poland', 'Australia', 'Scotland', 'Netherlands', 'Haiti',
       'Tunisia', 'Algeria', 'Honduras', 'Canada', 'Morocco',
       'Korea Republic', 'Iraq', 'Denmark', 'United Arab Emirates',
       'Costa Rica', 'Cameroon', 'Republic of Ireland', 'Colombia',
       'Norway', 'Nigeria', 'Saudi Arabia', 'Bolivia', 'Russia', 'Greece',
       'Jamaica', 'South Africa', 'Japan', 'Croatia', 'China PR',
       'Senegal', 'Slovenia', 'Ecuador', 'Trinidad and Tobago',
       'Serbia and Montenegro', 'Angola', 'Czech Republic', 'Togo',
       'Iran', "Côte d'Ivoire", 'Ghana', 'Ukraine', 'Serbia',
       'New Zealand', 'Slovakia', 'Bosnia and Herzegovina'], dtype=object)

In [18]:
df['away_team_name'] = df['away_team_name'].map(lambda x: x.lstrip('rn">'))

df['away_team_name'].unique()

array(['Mexico', 'Belgium', 'Brazil', 'Peru', 'France', 'Bolivia',
       'Paraguay', 'Romania', 'Chile', 'USA', 'Yugoslavia', 'Argentina',
       'Egypt', 'Netherlands', 'Switzerland', 'Sweden', 'Spain',
       'Hungary', 'Austria', 'Germany', 'Czechoslovakia',
       'Dutch East Indies', 'Norway', 'Poland', 'Cuba', 'Italy',
       'England', 'Scotland', 'Turkey', 'Korea Republic', 'Germany FR',
       'Uruguay', 'Wales', 'Northern Ireland', 'Soviet Union', 'Colombia',
       'Bulgaria', 'Korea DPR', 'Portugal', 'Israel', 'Morocco',
       'El Salvador', 'Australia', 'Haiti', 'German DR', 'Zaire', 'Iran',
       'Tunisia', 'Cameroon', 'New Zealand', 'Algeria', 'Honduras',
       'Kuwait', 'Iraq', 'Denmark', 'Canada', 'Republic of Ireland',
       'United Arab Emirates', 'Costa Rica', 'Saudi Arabia', 'Russia',
       'Greece', 'Nigeria', 'South Africa', 'Japan', 'Croatia', 'Jamaica',
       'Senegal', 'Slovenia', 'Ecuador', 'China PR', "Côte d'Ivoire",
       'Czech Republic', 'Ghana', 'Togo', 'Ukraine',
       'Trinidad and Tobago', 'Serbia and Montenegro', 'Angola',
       'Slovakia', 'Serbia', 'Bosnia and Herzegovina'], dtype=object)

### Transforming columns into integers:

The numerical columns: 'year', 'home_team_goals', 'attendance', 'away_team_goals', 'half-time_home_goals' and 'half-time_away_goals' are all floats (continuous) values. However, on the dataframe we are seeing discrete values since none of them can be measured by splitting. So we'll be transforming values in these columns into integers.

In [19]:
df['year'] = df['year'].apply(np.int64)
df['home_team_goals'] = df['home_team_goals'].apply(np.int64)
df['away_team_goals'] = df['away_team_goals'].apply(np.int64)
df['half-time_home_goals'] = df['half-time_home_goals'].apply(np.int64)
df['half-time_away_goals'] = df['half-time_away_goals'].apply(np.int64)
df['attendance'] = df['attendance'].apply(np.int64)

df.dtypes

year                     int64
home_team_name          object
home_team_goals          int64
away_team_goals          int64
away_team_name          object
win_conditions          object
attendance               int64
half-time_home_goals     int64
half-time_away_goals     int64
dtype: object

### Finding out the winner at half time:

For this we'll create a new column with the 'winner at half time' through the following function:
 - If the home team has more goals than the away team at half time, return the home team name.
 - If the home team has less goals than the away team at half time, return the away team name.
 - For every other result (home team has the same goals than the away team at half time) return 'Tie'.

In [25]:
def half_time(row):
    
    if row['half-time_home_goals'] > row['half-time_away_goals']:
        return row["home_team_name"]
    elif row['half-time_home_goals'] < row['half-time_away_goals']:
        return row["away_team_name"]
    else: 
        return 'Tie'

In [21]:
df['half-time_winner'] = df.apply(half_time, axis=1)

In [23]:
df.head()

,year,home_team_name,home_team_goals,away_team_goals,away_team_name,win_conditions,attendance,half-time_home_goals,half-time_away_goals,half-time_winner
0,1930,France,4,1,Mexico,,4444,3,0,France
1,1930,USA,3,0,Belgium,,18346,2,0,USA
2,1930,Yugoslavia,2,1,Brazil,,24059,2,0,Yugoslavia
3,1930,Romania,3,1,Peru,,2549,1,0,Romania
4,1930,Argentina,1,0,France,,23409,0,0,Tie

### Finding out the winner at full time:

In [26]:
def full_time(row):
    
    if row['home_team_goals'] > row['away_team_goals']:
        return row["home_team_name"]
    elif row['home_team_goals'] < row['away_team_goals']:
        return row["away_team_name"]
    else: 
        return 'Extra Time'

In [27]:
df['full-time_winner'] = df.apply(full_time, axis=1)

In [34]:
df.head(10)

,year,home_team_name,home_team_goals,away_team_goals,away_team_name,win_conditions,attendance,half-time_home_goals,half-time_away_goals,half-time_winner,full-time_winner,extra_time_winner
0,1930,France,4,1,Mexico,,4444,3,0,France,France,No extra time
1,1930,USA,3,0,Belgium,,18346,2,0,USA,USA,No extra time
2,1930,Yugoslavia,2,1,Brazil,,24059,2,0,Yugoslavia,Yugoslavia,No extra time
3,1930,Romania,3,1,Peru,,2549,1,0,Romania,Romania,No extra time
4,1930,Argentina,1,0,France,,23409,0,0,Tie,Argentina,No extra time
5,1930,Chile,3,0,Mexico,,9249,1,0,Chile,Chile,No extra time
6,1930,Yugoslavia,4,0,Bolivia,,18306,0,0,Tie,Yugoslavia,No extra time
7,1930,USA,3,0,Paraguay,,18306,2,0,USA,USA,No extra time
8,1930,Uruguay,1,0,Peru,,57735,0,0,Tie,Uruguay,No extra time
9,1930,Chile,1,0,France,,2000,0,0,Tie,Chile,No extra time

### Finding out the winner during extra time:

Now we'll remove the rows where there was no extra time and apply a function which is going to create a new column called 'extra_time_winner'. This column is going to show if there was extra time or not during the game, and if there was extra time it'll show the winner.

We will be using the split method to get the first word of the 'win_conditions' column, which luckily shows the winner of the game during extra time. The function will also have exceptions for those countries whose name are more than one word.

In [29]:
df = df[df['win_conditions'].isna()==False]

In [30]:
def get_winner_country(x):
    if (x == ' '):
        return 'No extra time'
    elif ( x.lower().split()[0] == 'win' ):
        return 'extra time'
    else:
        u = x.split(' ')[0]
        if ( u == 'Costa' ):
            return 'Costa Rica'
        elif ( u == 'Korea'):
            return 'Korea DPR'
        elif ( u == 'Northen'):
            return 'Northen Ireland'
        elif ( u == 'Soviet'):
            return 'Soviet Union'
        elif ( u == 'United'):
            return 'United Arab Emirates'
        elif ( u == 'Republic'):
            return 'Republic of Ireland'
        elif ( u == 'Saudi'):
            return 'Saudi Arabia'
        elif ( u == 'South'):
            return 'South Africa'
        elif ( u == 'Trinidad'):
            return 'Trinidad and Tobago'
        elif ( u == 'Serbia'):
            return 'Serbia and Montenegro'
        elif ( u == 'Czech'):
            return 'Czech Republic'
        elif ( u == 'New'):
            return 'New Zealand'
        elif ( u == 'Bosnia'):
            return 'Bosnia and Herzegovina'
        elif ( u == 'El'):
            return 'El Salvador'
        elif ( u == 'Dutch'):
            return 'Dutch East Indies'
        else:
            return u

df['extra_time_winner'] = df['win_conditions'].apply(get_winner_country)

In [31]:
df.tail()

,year,home_team_name,home_team_goals,away_team_goals,away_team_name,win_conditions,attendance,half-time_home_goals,half-time_away_goals,half-time_winner,full-time_winner,extra_time_winner
847,2014,Netherlands,0,0,Costa Rica,Netherlands win on penalties (4 - 3),51179,0,0,Tie,Extra Time,Netherlands
848,2014,Brazil,1,7,Germany,,58141,0,5,Germany,Germany,No extra time
849,2014,Netherlands,0,0,Argentina,Argentina win on penalties (2 - 4),63267,0,0,Tie,Extra Time,Argentina
850,2014,Brazil,0,3,Netherlands,,68034,0,2,Netherlands,Netherlands,No extra time
851,2014,Germany,1,0,Argentina,Germany win after extra time,74738,0,0,Tie,Germany,Germany

## Make one last column with the definite winner of the match?

### Separating between continuous/discrete and categorical values:

In [32]:
numerical = df.select_dtypes(np.number)

categorical = df.select_dtypes(object)

numerical.head()

,year,home_team_goals,away_team_goals,attendance,half-time_home_goals,half-time_away_goals
0,1930,4,1,4444,3,0
1,1930,3,0,18346,2,0
2,1930,2,1,24059,2,0
3,1930,3,1,2549,1,0
4,1930,1,0,23409,0,0

In [33]:
categorical.head()

,home_team_name,away_team_name,win_conditions,half-time_winner,full-time_winner,extra_time_winner
0,France,Mexico,,France,France,No extra time
1,USA,Belgium,,USA,USA,No extra time
2,Yugoslavia,Brazil,,Yugoslavia,Yugoslavia,No extra time
3,Romania,Peru,,Romania,Romania,No extra time
4,Argentina,France,,Tie,Argentina,No extra time

In [ ]:
categorical.head()

There was no need to separate the numerical values into continuous and discrete variables because as we mentioned before: there are no continuous values in the data set.

### X & y split:

H0: winner at half-time wins the game.

H1: winner at half-time ties or loses the game.

Xi^2